<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
    @entryPointStyles('app')
  @entryPointScripts('app')
  
</head>
<body>

  <h1>SignUp</h1>

  <form method="POST" action="/login">
    <input name="email" type="email"/>
    <input name="password" type="password"/>
    <button>SignUp</button>
  </form>
  </main>
</body>
</html>
