<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth_Login</title>
    @entryPointStyles('app')
  @entryPointScripts('app')
  
</head>
<body>


<div class="box">
  
  <h1 class="title_h1">Login</h1>

   <div class="content_div">
     
  @if(auth.user)

  <p> auth : {{auth.user.email}}</p>


  @endif

  <form method="POST" action="/login" class="form">
      <div class="form_box">
        
          <input name="email" type="email" placeholder="Email"/>
          <input name="password" type="password" placeholder="Password"/><br/>
          <button class="btn">Login</button>
      </div>

  </form>
   </div>
 
</div>

{{inspect(flashMessages)}}

  
</body>
</html>
