<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth_SignUp</title>
    @entryPointStyles('app')
  @entryPointScripts('app')
  
</head>
<body>


<div class="box">
  
  <h1 class="title_h1">SignUp</h1>

   <div class="content_div">
     
  

  <form method="POST" action="/signUp" class="form">
<div class="form_box">
  
    <input name="email" type="email" placeholder="Email"/>
    <input name="password" type="password" placeholder="Password"/><br/>
    <button class="btn">SignUp</button>
</div>

  </form>
   </div>
 
</div>

  {{inspect(flashMessages)}}
</body>
</html>
