<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> Auth App </h1>
  

      <ul>
        <li>
            <a href="/signUp">SignUp</a>
        </li>

        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
